body{
    margin: 0;
    padding: 0;
    background-color: wheat;
    background: url(https://images.unsplash.com/photo-1625225233840-695456021cde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.error{
color:red;
font-size: small;
}
.container{
    color: white;
    margin: 10rem;
    background-color: rgb(9, 9, 9,0.7);
    padding: 2rem;
    border-radius: 2rem;

}
.form{}